body{
  font-family: 'Raleway', sans-serif;
  background: #E9ECE9;

}



#upper_section{
    overflow-y:scroll;
    height: 330px;
  }
#title{
  height: 110px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}
#chatbox{
   border: solid 1px #aaaaaa;
}

#chatlist{
  margin-left: -40px;
  align-content: right;
  align-items: right;
}
#typebox{
  height:20px;
}
#input{
  
  height: 35px;
  width: 100%;
}
#send_btn{
    background: #D2D0D0;
    color:#444444;
    height:35px;
    width:60px;
    margin-left:0px;
    font-size: 20px;
    border: #131212 ;
  }



@media only screen and (max-width: 600px) {

  #upper_section{
    overflow: hidden;
    height: 440px;
  }

  #box{
    min-height: 455px;
  }

  #title{
    font-size: 40px;
    margin: 10px;
    text-align: center;
  }
  
  #bottom_bar{
    position: fixed;
    min-width: 450px;
    bottom: 0px;
  }
  #input{
    margin-left: -27px;
    width:120%;
    height: 40px;
    padding: 0px;
  }
  #send_btn{
    padding: 0px;
    height: 40px;
    width: 100px;
  }
}






#p2, #p4, #p6{
  text-align: right;
}

.comments-main{
  background: #f6f4f4;
}
.comment time, .comment:hover time,.icon-rocknroll, .like-count {
  -webkit-transition: .25s opacity linear;
  transition: .25s opacity linear;
}
.comments-main ul li{
  list-style: none;
}
.comments .comment {
  padding: 5px 10px;
  background: #00AF90;
}
.comments .comment:hover time{
  opacity: 1;
}
.comments .user-img img {
  width: 50px;
  height: 50px;
}
.comments .comment h4 {
  display: inline-block;
  font-size: 16px;
}
.comments .comment h4 a {
  color: #404040;
  text-decoration: none;
}
.comments .comment .icon-rocknroll {
  color: #545454;
  font-size: .85rem;
}
.comments .comment .icon-rocknroll:hover {
  opacity: .5;
}
.comments .comment time,.comments .comment .like-count,.comments .comment .icon-rocknroll {
  font-size: .75rem;
  opacity: 0;
}
.comments .comment time, .comments .comment .like-count {
  font-weight: 300;
}
.comments .comment p {
  font-size: 13px;
}
.comments .comment p .reply {
  color: #BFBFA8;
  cursor: pointer;
}
.comments .comment .active {
  opacity: 1;
}
.icon-rocknroll {
  background: none;
  outline: none;
  cursor: pointer;
  margin: 0 .125rem 0 0;
}
.comments .comment:hover .icon-rocknroll,.comments .comment:hover .like-count {
  opacity: 1;
}
.comment-box-main{
  background: #131212;
}







.spinner {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70px;
  opacity: 0;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}




